body{
    text-align: center;
    flex-direction: column;
    background-color: rgb(122, 138, 126);
}
#myH1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: rgb(2, 38, 36);
    border: 5px solid;
    border-color: black;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(49, 134, 134);
    width: 40%;
    margin: auto;
}
#container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin: auto;
    align-items: center;
    border: 5px solid;
    border-radius: 20px;
    padding-bottom: 15px;
    background-color: rgba(1, 24, 17, 0.596);
    
}
#display{
   font-size: 2.5em;
  
    color: rgba(35, 160, 146, 0.81);
}
.One{
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    font-weight: bold;;
}
#start{
    background-color: green;
    cursor: pointer;
    transition: background-color 0.25s;
}
#start:hover{
    background-color: rgb(21, 65, 21);
}
#stop{
    background-color: red;
    cursor: pointer;
    transition: background-color 0.25s;
}
#stop:hover{
    background-color: rgb(136, 5, 5);
}
#reset{
    background-color: rgb(96, 159, 180);
    cursor: pointer;
    transition: background-color 0.25s;
}
#reset:hover{
    background-color: rgb(5, 63, 66);
}