body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(121, 101, 101);
}
form{
    background-color: rgb(200, 188, 188);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.322);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(212, 174, 174);
    font-size: 1.5em;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(173, 114, 114);
}
#result{
    font-size: 1.5em;
    font-weight: bold;
}